<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{{STATIC_URL}}images/icons/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fonts/themify/themify-icons.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fonts/elegant-font/html-css/style.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/animate/animate.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/css-hamburgers/hamburgers.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/animsition/css/animsition.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/select2/select2.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/noui/nouislider.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/util.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	{% endblock %}
</head>
<body class="animsition">
	<script type="text/javascript">const BASE_URL = '{{ BASE_URL }}';</script>
	<!-- Header -->
	<header class="header1">
		{% block header %}
		<!-- Header desktop -->
		<div class="container-menu-header">

			<div class="wrap_header">
				<!-- Logo -->
				<a href="{{BASE_URL}}" class="logo">
					<img src="{{STATIC_URL}}images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="{{BASE_URL}}">Domov</a>
							</li>

							<li>
								<a href="{{BASE_URL}}piva">Piva</a>
								{% if SESSION.vloga == "prodajalci" or SESSION.vloga == "admin" %}
									<ul class="sub_menu">
										<li><a href="{{BASE_URL}}piva/deaktivirana">Deaktivirana</a></li>
										<li><a href="{{BASE_URL}}piva/add">Dodaj novo</a></li>
									</ul>
								{%  endif %}
							</li>

							{% if SESSION.vloga == "prodajalci" or SESSION.vloga == "admin" %}
								<li>
									<a href="{{BASE_URL}}stranke">Stranke</a>
									<ul class="sub_menu">
										<li><a href="{{BASE_URL}}stranke/add">Dodaj novo</a></li>
									</ul>
								</li>
							{%  endif %}

							{% if SESSION.vloga == "admin" %}
								<li>
									<a href="{{BASE_URL}}prodajalci">Prodajalci</a>
									<ul class="sub_menu">
										<li><a href="{{BASE_URL}}prodajalci/add">Dodaj novega</a></li>
									</ul>
								</li>
							{%  endif %}

							{% if SESSION.uporabnik %}
								<li>
									<a href="{{BASE_URL}}narocila">Naročila</a>
									{% if SESSION.vloga == "prodajalci" or SESSION.vloga == "admin" %}
										<ul class="sub_menu">
											<li><a href="{{BASE_URL}}narocila/potrjeno">potrjena</a></li>
											<li><a href="{{BASE_URL}}narocila/preklicano">preklicana</a></li>
											<li><a href="{{BASE_URL}}narocila/stornirano">stornirana</a></li>
											<li><a href="{{BASE_URL}}narocila/zakljuceno">zakljucena</a></li>
										</ul>
									{%  endif %}
								</li>
								<li class="sale-noti">
									<a id="odjava" href="{{BASE_URL}}odjava">Odjava</a>
								</li>
							{% else %}
								<li class="sale-noti">
									<a href="{{BASE_URL}}prijava">Prijava</a>
									<ul class="sub_menu">
										<li><a href="{{BASE_URL}}prijava/prodajalci">Prodajalci</a></li>
										<li><a href="{{BASE_URL}}prijava/admin">Admin</a></li>
									</ul>
								</li>
								<li>
									<a href="{{BASE_URL}}registracija">Registracija</a>
								</li>
							{%  endif %}
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<a href="{{BASE_URL}}{{ SESSION.vloga }}{% if SESSION.vloga != 'admin' %}/{{ SESSION.uporabnik.id }}{% endif %}" class="header-wrapicon1 dis-block">
						{{ SESSION.uporabnik.email }}
						<img src="{{STATIC_URL}}images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<img src="{{STATIC_URL}}images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti cart-count">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">

							</ul>

							<div class="header-cart-total">

							</div>

							<div class="header-cart-buttons">
								<div class="w-100">
									<!-- Button -->
									<a href="{{BASE_URL}}potrdi_nakup" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										oddaj naročilo
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="{{BASE_URL}}" class="logo-mobile">
				<img src="{{STATIC_URL}}images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="{{BASE_URL}}{{ SESSION.vloga }}{% if SESSION.vloga != 'admin' %}/{{ SESSION.uporabnik.id }}{% endif %}" class="header-wrapicon1 dis-block">
						<img src="{{STATIC_URL}}images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="{{STATIC_URL}}images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti cart-count">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">

							</ul>

							<div class="header-cart-total">

							</div>

							<div class="header-cart-buttons">
								<div class="w-100">
									<!-- Button -->
									<a href="{{BASE_URL}}potrdi_nakup" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										oddaj naročilo
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-menu-mobile">
						<a href="{{BASE_URL}}">Domov</a>
					</li>

					<li class="item-menu-mobile">
						<a href="{{BASE_URL}}piva">Piva</a>
						{% if SESSION.vloga == "prodajalci" or SESSION.vloga == "admin" %}
							<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
							<ul class="sub-menu">
								<li><a href="{{BASE_URL}}piva/add">Dodaj novo</a></li>
							</ul>
						{%  endif %}
					</li>

					{% if SESSION.vloga == "prodajalci" or SESSION.vloga == "admin" %}
						<li class="item-menu-mobile">
							<a href="{{BASE_URL}}stranke">Stranke</a>
							<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
							<ul class="sub-menu">
								<li><a href="{{BASE_URL}}stranke/add">Dodaj novo</a></li>
							</ul>
						</li>
					{%  endif %}

					{% if SESSION.vloga == "admin" %}
						<li class="item-menu-mobile">
							<a href="{{BASE_URL}}prodajalci">Prodajalci</a>
							<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
							<ul class="sub-menu">
								<li><a href="{{BASE_URL}}prodajalci/add">Dodaj novega</a></li>
							</ul>
						</li>
					{%  endif %}

					{% if SESSION.uporabnik %}
						<li class="item-menu-mobile">
							<a href="{{BASE_URL}}odjava">Odjava</a>
						</li>
					{% else %}
						<li class="item-menu-mobile">
							<a href="{{BASE_URL}}prijava">Prijava</a>
						</li>
						<li class="item-menu-mobile">
							<a href="{{BASE_URL}}registracija">Registracija</a>
						</li>
					{%  endif %}

					<li class="item-menu-mobile">
						<a href="{{BASE_URL}}{{ SESSION.vloga }}{% if SESSION.vloga != 'admin' %}/{{ SESSION.uporabnik.id }}{% endif %}">
							Prijavljen kot: {{ SESSION.uporabnik.email }}
						</a>
					</li>
				</ul>
			</nav>
		</div>
		{% endblock %}
	</header>

	<!-- Content page -->
	{% block content %}{% endblock %}

	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="t-center p-l-15 p-r-15">
			<div class="t-center s-text8 p-t-20">
				Copyright © {{ "now"|date("Y") }} All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="{{STATIC_URL}}https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>


	{% block javascript %}
		<script type="text/javascript" src="{{STATIC_URL}}vendor/jquery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/animsition/js/animsition.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/bootstrap/js/popper.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/select2/select2.min.js"></script>
		<script type="text/javascript">
			$(".selection-1").select2({
				minimumResultsForSearch: 20,
				dropdownParent: $('#dropDownSelect1')
			});

			$(".selection-2").select2({
				minimumResultsForSearch: 20,
				dropdownParent: $('#dropDownSelect2')
			});
		</script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/daterangepicker/daterangepicker.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/slick/slick.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/slick-custom.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}vendor/noui/nouislider.min.js"></script>
		<script type="text/javascript">
			/*[ No ui ]
			===========================================================*/
			var filterBar = document.getElementById('filter-bar');

			noUiSlider.create(filterBar, {
				start: [ 50, 200 ],
				connect: true,
				range: {
					'min': 50,
					'max': 200
				}
			});

			var skipValues = [
			document.getElementById('value-lower'),
			document.getElementById('value-upper')
			];

			filterBar.noUiSlider.on('update', function( values, handle ) {
				skipValues[handle].innerHTML = Math.round(values[handle]) ;
			});
		</script>
		<script src="{{STATIC_URL}}js/main.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/kosarica.js"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				posodobiKosarico();
			});
		</script>
	{% endblock %}

</body>
</html>
