{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<section class="bgwhite p-t-55 p-b-65">
    <div class="container">

            <h1>{{ title }}</h1>

            <p>[
                <a href="{{BASE_URL}}" >">Seznam vseh piv</a> |
                <a href="{{BASE_URL}}/add" >">Dodaj novo</a>
                ]</p>

            {{ form | raw }}

            {{ deleteForm | raw }}

        </div>
    </div>
</section>

{% endblock %}