{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m font-weight-bold" style="background-image: url({{STATIC_URL}}images/header.jpg); text-shadow: 0 0 5px black;">
		<h2 class="l-text2 t-center">
			PIVA
		</h2>
		<p class="m-text13 t-center">
			Najboljša craft piva.
		</p>
	</section>

    <section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">

						<h4 class="m-text14 p-b-7">
							Stili
						</h4>
						<ul class="p-b-54">
							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13 active1">
									vsi
								</a>
							</li>

							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13">
									stil 1
								</a>
							</li>

							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13">
									stil 2
								</a>
							</li>

							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13">
									stil 3
								</a>
							</li>
						</ul>

						<h4 class="m-text14 p-b-7">
							Znamke
						</h4>
						<ul class="p-b-54">
							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13 active1">
									vse
								</a>
							</li>

							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13">
									znamka 1
								</a>
							</li>

							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13">
									znamka 2
								</a>
							</li>

							<li class="p-t-4">
								<a href="{{STATIC_URL}}#" class="s-text13">
									znamka 3
								</a>
							</li>
						</ul>

						<h4 class="m-text14 p-b-32">
							Filtri
						</h4>

						<div class="filter-price p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-17">
								Cena
							</div>

							<div class="wra-filter-bar">
								<div id="filter-bar"></div>
							</div>

							<div class="flex-sb-m flex-w p-t-16">
								<div class="w-size11">
									<button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
										Filtriraj
									</button>
								</div>

								<div class="s-text3 p-t-10 p-b-10">
									$<span id="value-lower">610</span> - $<span id="value-upper">980</span>
								</div>
							</div>
						</div>

						<div class="search-product pos-relative bo4 of-hidden">
							<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Išči...">
							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<div class="flex-sb-m flex-w p-b-35">
						<div class="flex-w">
							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting">
									<option>Sortiraj...</option>
									<option>cena: naraščajoče</option>
									<option>cena: padajoče</option>
								</select>
							</div>
						</div>

						<span class="s-text8 p-t-5 p-b-5">
							Prikazano 1–12 od 16 rezultatov
						</span>
					</div>

					<!-- Products -->
					<div class="row">

						{% for pivo in piva %}
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
									<img class="mx-auto d-block" style="height: 250px; width: auto;" src="{{BASE_URL}}piva/{{ pivo.id }}.jpg" alt="{{ pivo.naziv }}">

									<div class="block2-overlay trans-0-4">
										<div class="block2-btn-addcart w-size2 trans-0-4">
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Dodaj v košarico
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20" data-pivo-id="{{ pivo.id }}" data-pivo-cena="{{ pivo.cena | number_format(2, ',')}}">
									<a href="{{BASE_URL}}piva/{{ pivo.id }}" class="block2-name dis-block s-text3 p-b-5">
										{{ pivo.imeZnamke }} - <b>{{ pivo.naziv }}</b>
										<br><i>({{ pivo.imeStila }})</i>
									</a>

									<span class="block2-price m-text6 p-r-5">
										{{ pivo.cena | number_format(2, ',') }} €
									</span>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
    </section>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{STATIC_URL}}vendor/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			$(this).on('click', function() {
				if ( $( "a#odjava" ).length ) {
					var pivo_ime = $(this).parent().parent().parent().find('.block2-name').text();
					var pivo_id = $(this).parent().parent().parent().find('.block2-txt').attr('data-pivo-id');
					swal("Nalaganje...", "Nalaganje...", "success");
					dodajVKosarico(pivo_id, 1, "Dodano v košarico", pivo_ime+"<br>dodan v košarico");
					posodobiKosarico();
				} else {
					swal("Prijava potrebna", "Za dodajanje v košarico je potrebna prijava.", "warning");
				}
			});
		});
	</script>
{% endblock %}
