{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

    <section class="bgwhite p-t-55 p-b-65">
        <div class="container normal-list">

            <h1>{{ title }}</h1>

            <div class="my-5"></div>

            <h2>Aktivirani:</h2>
            <ul>
                {% for prodajalec in prodajalci %}
                <li class="my-1">
                    <a href="{{BASE_URL}}prodajalci/{{ prodajalec.id }}">
                        {{ prodajalec.ime }} {{ prodajalec.priimek }} ({{ prodajalec.email }})
                    </a>
                </li>
                {% endfor %}
            </ul>

            <div class="my-5"></div>

            <h2>Deaktivirani:</h2>
            <ul>
                {% for prodajalec in deaktiviraniProdajalci %}
                    <li class="my-1">
                        <a href="{{BASE_URL}}prodajalci/{{ prodajalec.id }}">
                            {{ prodajalec.ime }} {{ prodajalec.priimek }} ({{ prodajalec.email }})
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </section>

{% endblock %}